@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkatra&family=Borel&family=Dancing+Script:wght@600;700&family=Lobster&family=Poppins&family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@300;400;500&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkatra&family=Borel&family=Dancing+Script:wght@600;700&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins&family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@300;400;500&family=Sacramento&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: #393E46;
  font-family:"Sora", sans-serif;
  font-weight: bold;
  accent-color:#393E46 ;
}

#root{
  width:"100%";
  /* background: linear-gradient(to right, #2f3032,#6a6a70, #f6f9f9); */
  background: linear-gradient(to right, #112D4E,#00ADB5, #3db4c6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  /* text-shadow: 3px 4px 3px #0a0c0e; */
  text-shadow: 3px 4px 3px #112D4E;
  font-size: 3rem;
  color: #F9F7F7;
  text-align: center;
}

.heading2{
  /* padding-top: 2.5rem; */
  padding-bottom: 1rem;
  /* text-shadow: 3px 4px 3px #0a0c0e; */
  text-shadow: 3px 4px 3px #112D4E;
  font-size: 2.5rem;
  color: #F9F7F7;
  text-align: center;
}

.hero{
  width: 60%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 3rem 0;
  width:100%;
  border-radius: 5px;
  background-color: #F9F7F7;  
  box-shadow: 1px 6px 4px #212121;
}

.full-form{
  width: 100%;
}

input{
  margin-top: .5rem;
  margin-bottom: .5rem;
  border:0px;
  border-bottom: 1px solid rgb(37, 37, 36);
  color:#0a0c0e;
}

textarea{
  width: 100%;
  height: 100px;
  padding: .4rem;
  box-sizing: border-box;
  border: 2px solid  #00ADB5;
  border-radius: 4px;
  background-color: #F9F7F7;
  /* border: 2px solid  #6a6a70;
  border-radius: 4px;
  background-color: #F9F7F7; */
  resize: none;
  font-size: medium;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color:#0a0c0e;

}
textarea:hover{
  border-color:#393E46 ;
}

label{
  padding-top: 1rem;
  /* display: block; */
  font-size: large;
  margin: 1rem 0;

}

.plabel{
  padding-top: 1rem;
  font-size: large;
  margin: 1rem 0;
}

input:-webkit-autofill,input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px #F9F7F7 inset;
  /* -webkit-text-fill-color: #0a0c0e; */
  -webkit-text-fill-color: #112D4E;

}

.inputbox{
  outline: none;
  border: none;
  /* border-bottom: 2px solid #393E46; */
  /* border-bottom: 2px solid #6a6a70; */
  border-bottom: 2px solid #00ADB5;
  width: 100%;
  appearance: none;
  fill: #F9F7F7;
  background: #F9F7F7;
  padding: .3rem;
  font-size: medium;
  /* box-shadow: 0px 3px 3px -3px grey; */
}
.inputbox:hover{
  border-bottom: 2px solid #393E46;
}

.inputdiv{
  padding: .5rem;
  width: 100%;
}

input[type="text"]{
  background: #F9F7F7;
}

input[type="radio"]{
  margin: 0 .5rem;
  /* padding: .2rem; */
  /* margin-top: .2rem; */
}

input[type="checkbox"]{
  width: 15px;
  height: 15px;
  margin-right: .5rem;
}



.submitbutton{
  padding: .6rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  border-radius: 5px;
  border: 2px solid #6a6a70;
  background-color: #F9F7F7;
  font-weight: bold;
  font-size: large;
  color: #393E46;
  width: 100%;
}
.submitbutton:hover{
  border-color:#393E46 ;
}


.robotimg{
  height: 20rem;
}

@media screen and (max-width:600px) {
  .hero{
    width: 100%;
    padding: .9rem;
  }
  .formdiv{
      width: 100%;
      padding: .4rem;
      margin: 0.3rem;
  }
  .heading{
      font-size: 2rem;
      text-align: center;
  }
  .inputdiv{
    width: 100%;
  }
  .robotimg{
    height: 16rem;
  }
}

p{
  color: rgb(246, 238, 238);
  font-size: larger;
}

p b{
  color: rgb(246, 238, 238);
}






.imageqr{
  height: 200px;
  width: 200px;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.qrjpg{

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  
}
h5{
  text-align: center;
}


.upidiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.inp_text
{
  text-align: center;
}

.CopyBtn{
background-color: #112D4E;
color: #ffff;
border-radius: 20px;
padding: 5px;
}





